bs4 == 0.0.1
Click == 7.0
deepdiff == 5.5.0
halo == 0.0.31
lxml == 4.5.0
Pillow == 7.0.0
psutil == 5.8.0
pyexiv2 == 2.5.0
pytest == 6.2.4
pytest-cov == 2.12.1
python-magic == 0.4.22
requests == 2.22.0
setuptools == 45.2.0
wheel == 0.34.2
