on:
  push:
    branches:
      - master
      - develop

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14.2'
          architecture: 'x64'

      - name: Run Ruff
        uses: astral-sh/ruff-action@v1
        with:
          args: "check"

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'
          architecture: 'x64'

      - name: Install dependencies and test
        run: |
          python3 -m venv venv
          venv/bin/pip install .
          source venv/bin/activate
          venv/bin/pytest tests -m "not integration and not e2e"
        env:
          ENVIRONMENT: TESTING